@import "../../variable";

.inc-events {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 4vw;
  padding-right: 4vw;
  display: flex;
  flex-direction: column;
  gap: 5%;
  position: relative;

  @media (min-width: 3000px) {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }

  @media (max-width: $mobile) {
    padding-left: 25px;
    padding-right: 25px;
  }

  &:before {
    content: "";
    position: absolute;
    left: 15px;
    top: -25px;
    border-left: 3px solid #86B834;
    border-top: 3px solid #86B834;
    width: 20%;
    height: 40%;

    @media (max-width: $mobile) {
      left: 12px;
      top: -15px;
    }
  }

  &:after {
    content: "";
    position: absolute;
    right: 15px;
    bottom: -25px;
    border-right: 3px solid #86B834;
    border-bottom: 3px solid #86B834;
    width: 60%;
    height: 30%;
    z-index: 1;

    @media (max-width: $mobile) {
      right: 12px;
      bottom: -15px;
    }
  }

  &:before, &:after {
    transition: width 0.8s ease-in-out, height 0.8s ease-in-out;
  }

  .text-content {
    width: fit-content;

    h3, p {
      color: black;
      font-family: Montserrat, sans-serif;
      font-weight: 500;
      font-size: 20px;
      letter-spacing: 0.30px;
    }

    h3 {
      font-family: Impact, sans-serif;
      font-weight: 400;
      font-size: 22px;
    }

    p {
      padding: 10px 20px;
      border-right: 12px;
    }

    div {
      .days-programs{
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        gap: 5px;
        flex-wrap: nowrap;
        color: black;
        font-family: Montserrat, sans-serif;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.30px;

        .program {
          padding: 0;
          margin: 5px 0 0;
          display: flex;
          flex-direction: column;
          row-gap: 10px;

          span {
            height: unset;
            text-align: left;
          }
        }
      }
    }

  }

  .carousel {
    overflow: hidden;

    .swiper {
      //height: 100%;
      height: 500px;
      width: 100%;

      @media (max-width: 1024px) {
        height: 300px;
        width: 100%;
        max-height: unset;
      }


      .swiper-wrapper {
        .swiper-slide {
          .image-container {
            img {
              width: 100%;
              object-fit: cover;

              @media (max-width: 1024px) {
                height: 300px;
              }
            }
          }
        }
      }

      .swiper-button-prev, .swiper-button-next {

        &:after {
          padding: 5px 15px 5px 10px;
          color: white;
          background-color: rgba(0, 0, 0, 0.4);
        }
      }

      .swiper-button-prev {
        &:after {
          padding: 5px 15px 5px 10px;
        }
      }

      .swiper-button-next {
        &:after {
          padding: 5px 10px 5px 15px;
        }
      }
    }

    &.align-row {
      display: flex;
      flex-direction: column;
      gap: 25px;

      @media (max-width: $mobile) {
        flex-direction: column;
      }

      .content-holder {
        color: black;
        font-family: Montserrat, sans-serif;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.30px;
      }

      //video {
      //  @media (max-width: $mobile) {
      //    align-self: center;
      //    width: 320px;
      //    height: 500px;
      //  }
      //}

      p {
        flex-basis: 72%;
        color: #000;
        font-family: Montserrat, sans-serif;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.3px;

        @media (max-width: $mobile) {
          flex-basis: 100%;
        }
      }

      .square {
        font-size: 25px;
        color: lightgray
      }

      .content-holder {
        margin: 0;

        p {
          margin: 0;
        }

        a {
          color: #86B834;
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }

      }
    }
  }

  .comment {
    width: 100%;

    p {
      text-align: center;
    }
  }

  &:hover {
    &:before {
      width: 10%;
      height: 60%;
    }

    &:after {
      width: 50%;
      height: 45%;
    }

    //.image-container {
    //  img {
    //    transform: scale(1.1);
    //    transition: transform 0.8s ease-in-out;
    //  }
    //}
  }
}